html,
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none !important;
}

a:hover {
  filter: brightness(1.2);
  transition: all 0.2s ease-in-out;
}

.download-count {
  margin-left: 10px;
}

.firstPanel {
  background-color: #15846c;
}

.redhat {
  font-family: "Montserrat", sans-serif;
}

.currentPage {
  background-color: rgba(36, 36, 36, 0.5);
  border-radius: 12px;
  width: max-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fw-medium {
  font-weight: 500;
}

.mainContainer {
  background-image: url("img/wave.svg");
  background-repeat: no-repeat;
  background-position: 0 101%;
  background-size: 101%;
  position: relative;
}

.col-md.text-center.mt-3 {
  align-self: center;
}

.footer-top {
  background-image: url("img/footer_wave.svg");
  background-repeat: no-repeat;
  background-position: 0 101%, 0% 0%;
  padding-bottom: 16rem;
  margin-top: 0px;

  background-size: 101%;
}

.dark {
  background-image: url("img/dark_wave.svg");
  background-repeat: no-repeat;
  background-position: 0 101%;
  padding-bottom: 6rem;
  margin-top: 0px;
  background-color: #f6f6f6;
  background-size: 101%;
}

.light {
  background-image: url("img/wave.svg");
  background-repeat: no-repeat;
  background-position: 0 101%;
  background-size: 101%;
  padding-bottom: 16rem;
}

.downloadButton {
  background-color: #226b5b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  margin-right: 3%;
}

.downloadButton:hover {
  background-color: #2d7a69;
  transition-duration: 0.4s;
}

.downloadButtonSecondary {
  background-color: #363636;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  margin-right: 3%;
}

.downloadButtonSecondary:hover {
  background-color: #555;
  transition-duration: 0.4s;
}

.moreInfo:hover {
  text-decoration: underline;
  transition-duration: 0.4s;
}

.version:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.navbar-toggler {
  border: none;
}

.filclite {
  border-radius: 25%;
  box-shadow: 0 4px 12px #0002;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  font-size: 18pt;
}

.footer > div {
  padding: 0px 2em;
  display: inline-block;
}

.footer > div > a {
  display: inline-block;
  white-space: nowrap;
}

.footer-top h4 {
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0 4em;
}

.btn:not(.downloadButton):not(.downloadButtonSecondary) {
  padding: 0.375rem 1.5rem;
}

.nav-item {
  margin: 0 6px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav-link {
  font-size: 16pt;
}

.reverse {
  flex-direction: row-reverse;
}

.navbar-brand {
  font-size: 24pt;
}

button.btn,
a.btn {
  font-size: 18pt;
}

.release .version {
  color: #111;
  font-weight: 500;
}

#releasesContainer {
  margin: auto;
}

#latestBetaContainer {
  margin: auto;
}

#latestReleaseContainer {
  margin: auto;
}

.footer a:hover {
  color: #fff9 !important;
  transition: color 0.2s ease-in-out;
}

/*md and up*/
@media only screen and (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }

  h1 {
    font-size: 36pt;
  }
}

@media only screen and (max-width: 1010px) {
  .footer {
    grid-template-columns: auto auto;
  }
}

/*sm*/
@media only screen and (max-width: 768px) {
  .download-count {
    display: none;
  }

  .footer-top h4 {
    padding: 0;
  }

  .btn:not(.downloadButton):not(.downloadButtonSecondary) {
    padding: 0.375rem 12px;
  }

  .col-md.text-center.mt-3 {
    padding: 0;
  }

  h1 {
    font-size: 28pt;
  }

  .showcase {
    width: 90%;
    margin-bottom: 1.5em;
    margin-top: 3em;
  }

  .reverse {
    flex-direction: row;
  }

  .footer {
    padding-top: 2em;
    grid-template-columns: auto;
  }

  .footer-top img.filclite {
    width: 150px;
  }

  .mainImage {
    margin-top: 1rem;
    width: 100% !important;
  }

  .mobilePaddingLeft {
    padding-left: 15px;
  }

  .mobileMarginLeft {
    margin-left: 0px;
  }

  .mobilePaddingTop {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .planImage {
    background-image: url(img/Wave.svg), url(img/Plan.svg) !important;
    background-position: 0 101% !important;
    background-size: auto, 100% 100% !important;
  }

  .interfaceImage {
    background-image: url(img/Wave.svg), url(img/Interface.svg) !important;
    background-position: 0 101% !important;
    background-size: auto, 100% 100% !important;
  }

  .notifyImage {
    background-image: url(img/Wave.svg), url(img/Notify.svg) !important;
    background-position: 0 101% !important;
    background-size: auto, 100% 100% !important;
  }

  .customizeImage {
    background-image: url(img/BlackWave.svg), url(img/Customize.svg) !important;
    background-position: 0 1010% !important;
    background-size: auto, 100% 100% !important;
  }

  /*img {
    background: url(img/Wave.svg);
    background-position: 50% 100%;
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }*/

  .mainContainer {
    height: auto;
  }

  .mainContainer > .container {
    padding-bottom: 4em;
  }
}
